@charset "UTF-8";

section#about, 
section#music, 
section#art, 
section#skill, 
section#contact, 
section#news, 
footer {
    display: none;
}

.about,
.news {
    padding: 80px 30px;
    background-color: #fff;
    color: #333;
}
.about-wrapper,
.news-wrapper {
    display: block;
    width: 100%;
    margin-top: 60px;
}
.about-box,
.news-box {
    position: relative;
    display: block;
    text-align: center;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}
.about-icon {
    font-size: 2.2rem;
}
.about-text,
.news-text {
    margin: 30px auto;
    line-height: 2.5;
    text-align: left;
}

.music {
    background-color: #383634;
    padding: 80px 0;
}
.music-wrapper {
    display: table;
    width: 100%;
    margin-top: 60px;
    table-layout: fixed;
}
.music-box {
    position: relative;
    display: table-cell;
}
.music-box::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    background: no-repeat;
    background-size: 100% 100%;
    opacity: 0.2;
    transform: scaleY(-1);
}
.music-box.hana::after{
    background-image: url('../img/hana-thumbnail.jpg');
}
.music-box:nth-child(odd) .music-image {
    margin: 60% 0 0;
}
.music-box:nth-child(odd) .music-description, .music-box:nth-child(odd)::after {
    top: 0;
}
.music-image {
    display: block;
    width: 100%;
    margin: 0 0 60%;
}
.music-description {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 50%;
    overflow-y: auto;
}
.music-description-inner {
    display: table;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.music-text {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.2rem;
    line-height: 2;
}
.music-dt-box {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}
.music-dt-text {
    text-align: left;
}
.music-dt-iframe-wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
    text-align: center;
}
.music-dt-iframe-wrap-child {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: auto; 
    -webkit-overflow-scrolling: touch;
    border:2px solid #ccc; 
}

.music-dt-iframe-wrap iframe {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

.art {
    background-color: #383634;
    padding: 80px 0;
    color: #fff;
}
.art-wrapper {
    display: table;
    width: 100%;
    margin-top: 60px;
    table-layout: fixed;
}
.art-box {
    position: relative;
    display: table-cell;
}
.art-box::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    background: no-repeat;
    background-size: 100% 100%;
    opacity: 0.2;
    transform: scaleY(-1);
}
.art-box.test::after{
    background-image: url('../img/hana-thumbnail.jpg');
}
.art-box:nth-child(odd) .art-image {
    margin: 60% 0 0;
}
.art-box:nth-child(odd) .art-description, .art-box:nth-child(odd)::after {
    top: 0;
}
.art-image {
    display: block;
    width: 100%;
    margin: 0 0 60%;
}
.art-description {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 50%;
    overflow-y: auto;
}
.art-description-inner {
    display: table;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.art-text {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.2rem;
    line-height: 2;
}

.skill {
    padding: 80px 0;
    background-color: #fff;
    color: #151515
}
.skill-wrapper {
    display: table;
    width: 80%;
    margin: 50px auto 0;
    table-layout: fixed;
}
.skill-box {
    display: table-cell;
}
.skill-icon {
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
    border: 4px solid;
    border-radius: 50%;
    color: #f1b400;
    font-size: 8rem;
    line-height: 142px;
    font-family: "Font Awesome 5 Free";
}
.skill-title {
    margin: 0 20px 20px;
    font-size: 2rem;
}
.skill-text {
    margin: 0 20px;
    line-height: 2;
    text-align: left;
}

.contact {
    background-color: #383634;
    padding: 80px 0 150px;
}
.contact form {
    width: 50%;
    margin: 30px auto 0;
}
.contact form input[type=text], 
.contact form textarea,
.contact form select {
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.05);
    color: #fff;
}
.contact form textarea {
    height: 150px;
}
.contact form input[type=submit],
.contact form input[type=button] {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 15px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
}
.contact form input[type="submit"]:hover,
.contact form input[type="button"]:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
.contact form input[type=text]:focus, .contact form textarea:focus {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5) inset;
}
.contact form > .title {
    list-style: none;
    font-size: 1.5rem;
    text-align: left;
}

.contact form > .comment {
    text-align: left;
}

.contact div.message {    
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} 

@media (max-width: 1024px) {
    .about-box,
    .news-box {
        width: 100%;
    }    
}

@media (max-width: 768px) {
    .about-text,
    .news-text {
        line-height: 1.8;
    }
    .music-wrapper, 
    .music-box {
        display: block;
    }
    .music-image {
        display: none;
    }
    .music-description {
        position: relative;
    }
    .music-box::after {
        top: 0;
        height: 100%;
        background-size: cover;
    }
    .art-wrapper, 
    .art-box {
        display: block;
    }
    .art-image {
        display: none;
    }
    .art-description {
        position: relative;
    }
    .art-box::after {
        top: 0;
        height: 100%;
        background-size: cover;
    }
    .skill-wrapper, 
    .skill-box {
        display: block;
    }
    .skill-icon {
        width: 100px;
        height: 100px;
        font-size: 5rem;
        line-height: 92px;
    }
    .skill-box {
        margin: 40px auto;
    }
    .skill-text {
        margin: 0;
    }
    .contact {
        padding-bottom: 80px;
    }
    .contact form {
        width: 80%;
    }
    .contact div.message {    
        width: 80%;
    } 
}